.front{
  .front-title{
    margin-top: 92px;
  }
  .front-img{
    width: 55%;
  }
}
.back-img{
  width: 83%;
  height: 243px;
  margin-top: -12px;
}
.back-title{
  @include font-size(26);
  font-family: $josefin-sans;
  text-align: left;
  margin-top: -37px;
  margin-left: 44px;
}
.back-porc{
  @include font-size(19);
  color: $dark-pink;
  float: right;
  top: -45px;
  position: relative;
  right: 48px;
}
.back-text{
  @include font-size(13);
  font-family: $josefin-sans;
  text-align: left;
  margin-left: 45px;
  width: 83%;
}
.back-favorite-img{
  width: 41px;
  margin-top: 6px;
}
.subtitle{
  @include font-size(19);
  font-family: $josefin-sans;
  margin-left: -62%;
  color: $dark-pink;
}
.front-text{
  @include font-size(13);
  font-family: $josefin-sans;
  text-align: left;
  margin-left: 22px;
  width: 88%;
}
.front-subtitle{
  margin-left: -407px;
}
.button-favorite-book{
  background: $white;
  width: 17%;
  height: 50px;
  cursor: pointer;
  position: relative;
  margin-left: 47px;
  top: -52px;
  .buttom-favorite-book-img{
    width: 44px;
    margin-top: 4px;
    margin-left: 2px;
  }
}